src/wsdl/10.72.107.100_8080/FindomesticFactWebService/FindomesticFactWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.seta.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.seta.com/" name="FindomesticFactWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.seta.com/" schemaLocation="http://10.72.107.100:8080/FindomesticFactWebService/FindomesticFactWebService?xsd=1" />
</xsd:schema>
</types>
<message name="getEccessiDaPubblicare">
<part name="parameters" element="tns:getEccessiDaPubblicare" />
</message>
<message name="getEccessiDaPubblicareResponse">
<part name="parameters" element="tns:getEccessiDaPubblicareResponse" />
</message>
<message name="deleteEccesso">
<part name="parameters" element="tns:deleteEccesso" />
</message>
<message name="deleteEccessoResponse">
<part name="parameters" element="tns:deleteEccessoResponse" />
</message>
<message name="inserisciAccettazione">
<part name="parameters" element="tns:inserisciAccettazione" />
</message>
<message name="inserisciAccettazioneResponse">
<part name="parameters" element="tns:inserisciAccettazioneResponse" />
</message>
<message name="getErroriWebServices">
<part name="parameters" element="tns:getErroriWebServices" />
</message>
<message name="getErroriWebServicesResponse">
<part name="parameters" element="tns:getErroriWebServicesResponse" />
</message>
<message name="inserisciPratica">
<part name="parameters" element="tns:inserisciPratica" />
</message>
<message name="inserisciPraticaResponse">
<part name="parameters" element="tns:inserisciPraticaResponse" />
</message>
<message name="gestioneEccessi">
<part name="parameters" element="tns:gestioneEccessi" />
</message>
<message name="gestioneEccessiResponse">
<part name="parameters" element="tns:gestioneEccessiResponse" />
</message>
<portType name="FindomesticFactWebService">
<operation name="getEccessiDaPubblicare">
<input wsam:Action="http://webservice.seta.com/FindomesticFactWebService/getEccessiDaPubblicareRequest" message="tns:getEccessiDaPubblicare" />
<output wsam:Action="http://webservice.seta.com/FindomesticFactWebService/getEccessiDaPubblicareResponse" message="tns:getEccessiDaPubblicareResponse" />
</operation>
<operation name="deleteEccesso">
<input wsam:Action="http://webservice.seta.com/FindomesticFactWebService/deleteEccessoRequest" message="tns:deleteEccesso" />
<output wsam:Action="http://webservice.seta.com/FindomesticFactWebService/deleteEccessoResponse" message="tns:deleteEccessoResponse" />
</operation>
<operation name="inserisciAccettazione">
<input wsam:Action="http://webservice.seta.com/FindomesticFactWebService/inserisciAccettazioneRequest" message="tns:inserisciAccettazione" />
<output wsam:Action="http://webservice.seta.com/FindomesticFactWebService/inserisciAccettazioneResponse" message="tns:inserisciAccettazioneResponse" />
</operation>
<operation name="getErroriWebServices">
<input wsam:Action="http://webservice.seta.com/FindomesticFactWebService/getErroriWebServicesRequest" message="tns:getErroriWebServices" />
<output wsam:Action="http://webservice.seta.com/FindomesticFactWebService/getErroriWebServicesResponse" message="tns:getErroriWebServicesResponse" />
</operation>
<operation name="inserisciPratica">
<input wsam:Action="http://webservice.seta.com/FindomesticFactWebService/inserisciPraticaRequest" message="tns:inserisciPratica" />
<output wsam:Action="http://webservice.seta.com/FindomesticFactWebService/inserisciPraticaResponse" message="tns:inserisciPraticaResponse" />
</operation>
<operation name="gestioneEccessi">
<input wsam:Action="http://webservice.seta.com/FindomesticFactWebService/gestioneEccessiRequest" message="tns:gestioneEccessi" />
<output wsam:Action="http://webservice.seta.com/FindomesticFactWebService/gestioneEccessiResponse" message="tns:gestioneEccessiResponse" />
</operation>
</portType>
<binding name="FindomesticFactWebServicePortBinding" type="tns:FindomesticFactWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getEccessiDaPubblicare">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteEccesso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="inserisciAccettazione">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getErroriWebServices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="inserisciPratica">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="gestioneEccessi">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="FindomesticFactWebService">
<port name="FindomesticFactWebServicePort" binding="tns:FindomesticFactWebServicePortBinding">
<soap:address location="http://10.72.107.100:8080/FindomesticFactWebService/FindomesticFactWebService" />
</port>
</service>
</definitions>