src/wsdl/10.72.107.100_8080/FindomesticFactWebService/FindomesticFactWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservice.seta.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.seta.com/">

<xs:element name="deleteEccesso" type="tns:deleteEccesso" />

<xs:element name="deleteEccessoResponse" type="tns:deleteEccessoResponse" />

<xs:element name="gestioneEccessi" type="tns:gestioneEccessi" />

<xs:element name="gestioneEccessiResponse" type="tns:gestioneEccessiResponse" />

<xs:element name="getEccessiDaPubblicare" type="tns:getEccessiDaPubblicare" />

<xs:element name="getEccessiDaPubblicareResponse" type="tns:getEccessiDaPubblicareResponse" />

<xs:element name="getErroriWebServices" type="tns:getErroriWebServices" />

<xs:element name="getErroriWebServicesResponse" type="tns:getErroriWebServicesResponse" />

<xs:element name="inserisciAccettazione" type="tns:inserisciAccettazione" />

<xs:element name="inserisciAccettazioneResponse" type="tns:inserisciAccettazioneResponse" />

<xs:element name="inserisciPratica" type="tns:inserisciPratica" />

<xs:element name="inserisciPraticaResponse" type="tns:inserisciPraticaResponse" />

<xs:complexType name="getEccessiDaPubblicare">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getEccessiDaPubblicareResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gestioneEccessi">
<xs:sequence>
<xs:element name="gestioneEccessi" type="tns:eccessi" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eccessi">
<xs:sequence>
<xs:element name="codice_cir" type="xs:string" minOccurs="0" />
<xs:element name="data" type="xs:string" minOccurs="0" />
<xs:element name="data_accettazione" type="xs:string" minOccurs="0" />
<xs:element name="endorse" type="xs:string" minOccurs="0" />
<xs:element name="ldv" type="xs:string" minOccurs="0" />
<xs:element name="pratica" type="xs:string" minOccurs="0" />
<xs:element name="tvei" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gestioneEccessiResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getErroriWebServices">
<xs:sequence>
<xs:element name="erroriws" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getErroriWebServicesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserisciAccettazione">
<xs:sequence>
<xs:element name="accettazione" type="tns:accettazione" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="accettazione">
<xs:sequence>
<xs:element name="colli_cosegnati" type="xs:string" minOccurs="0" />
<xs:element name="colli_previsti" type="xs:string" minOccurs="0" />
<xs:element name="corriere" type="xs:string" minOccurs="0" />
<xs:element name="data" type="xs:string" minOccurs="0" />
<xs:element name="distributore" type="xs:string" minOccurs="0" />
<xs:element name="icr" type="xs:string" minOccurs="0" />
<xs:element name="lavorazione" type="xs:string" minOccurs="0" />
<xs:element name="ldv" type="xs:string" minOccurs="0" />
<xs:element name="numero_pratiche" type="xs:string" minOccurs="0" />
<xs:element name="ora" type="xs:string" minOccurs="0" />
<xs:element name="provincia" type="xs:string" minOccurs="0" />
<xs:element name="sito" type="xs:string" minOccurs="0" />
<xs:element name="stato_consegna" type="xs:string" minOccurs="0" />
<xs:element name="tvei" type="xs:string" minOccurs="0" />
<xs:element name="utente" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserisciAccettazioneResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEccesso">
<xs:sequence>
<xs:element name="deleteEccesso" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEccessoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserisciPratica">
<xs:sequence>
<xs:element name="pratica" type="tns:pratica" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pratica">
<xs:sequence>
<xs:element name="barcode" type="xs:string" minOccurs="0" />
<xs:element name="cap" type="xs:string" minOccurs="0" />
<xs:element name="cod9899" type="xs:string" minOccurs="0" />
<xs:element name="codAut" type="xs:string" minOccurs="0" />
<xs:element name="codBusta" type="xs:string" minOccurs="0" />
<xs:element name="codPrt" type="xs:string" minOccurs="0" />
<xs:element name="cognome" type="xs:string" minOccurs="0" />
<xs:element name="corriere" type="xs:string" minOccurs="0" />
<xs:element name="csz" type="xs:string" minOccurs="0" />
<xs:element name="dalm" type="xs:string" minOccurs="0" />
<xs:element name="dataBusta" type="xs:string" minOccurs="0" />
<xs:element name="dataCorriere" type="xs:string" minOccurs="0" />
<xs:element name="dataFineLavorazione" type="xs:string" minOccurs="0" />
<xs:element name="dataInizioLavorazione" type="xs:string" minOccurs="0" />
<xs:element name="dataLav" type="xs:string" minOccurs="0" />
<xs:element name="dataOCR" type="xs:string" minOccurs="0" />
<xs:element name="dataOCRManuale" type="xs:string" minOccurs="0" />
<xs:element name="dataScansione" type="xs:string" minOccurs="0" />
<xs:element name="endorse" type="xs:string" minOccurs="0" />
<xs:element name="esitoconformita" type="xs:string" minOccurs="0" />
<xs:element name="iddocumento" type="xs:string" minOccurs="0" />
<xs:element name="lavorazione" type="xs:string" minOccurs="0" />
<xs:element name="lotto" type="xs:string" minOccurs="0" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="nomeFile" type="xs:string" minOccurs="0" />
<xs:element name="oraBusta" type="xs:string" minOccurs="0" />
<xs:element name="oraCorriere" type="xs:string" minOccurs="0" />
<xs:element name="oraFineLavorazione" type="xs:string" minOccurs="0" />
<xs:element name="oraInizioLavorazione" type="xs:string" minOccurs="0" />
<xs:element name="oraLav" type="xs:string" minOccurs="0" />
<xs:element name="oraOCR" type="xs:string" minOccurs="0" />
<xs:element name="oraOCRManuale" type="xs:string" minOccurs="0" />
<xs:element name="oraScansione" type="xs:string" minOccurs="0" />
<xs:element name="originale" type="xs:string" minOccurs="0" />
<xs:element name="pagine" type="xs:string" minOccurs="0" />
<xs:element name="scatola" type="xs:string" minOccurs="0" />
<xs:element name="tipoDoc" type="xs:string" minOccurs="0" />
<xs:element name="tipoLav" type="xs:string" minOccurs="0" />
<xs:element name="tvei" type="xs:string" minOccurs="0" />
<xs:element name="utente" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserisciPraticaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>