src/wsdl/10.72.107.70_8080/FACTWS/FactWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.so.rc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.so.rc/" name="FactWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.so.rc/" schemaLocation="http://10.72.107.70:8080/FACTWS/FactWS?xsd=1"/>
</xsd:schema>
</types>
<message name="inserisciAccettazione">
<part name="accettazione" type="tns:accettazione"/>
</message>
<message name="inserisciAccettazioneResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="gestioneEccessi">
<part name="gestioneEccessi" type="tns:arrayList"/>
</message>
<message name="gestioneEccessiResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="deleteEccesso">
<part name="deleteEccesso" type="xsd:string"/>
</message>
<message name="deleteEccessoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="testService"/>
<message name="testServiceResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getErroriWebServices">
<part name="erroriws" type="xsd:string"/>
</message>
<message name="getErroriWebServicesResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="inserisciPratica">
<part name="pratica" type="tns:pratica"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="inserisciPraticaResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getEccessiDaPubblicare"/>
<message name="getEccessiDaPubblicareResponse">
<part name="return" type="tns:arrayList"/>
</message>
<portType name="SO_FACT_WS">
<operation name="inserisciAccettazione">
<input wsam:Action="http://ws.so.rc/SO_FACT_WS/inserisciAccettazioneRequest" message="tns:inserisciAccettazione"/>
<output wsam:Action="http://ws.so.rc/SO_FACT_WS/inserisciAccettazioneResponse" message="tns:inserisciAccettazioneResponse"/>
</operation>
<operation name="gestioneEccessi">
<input wsam:Action="http://ws.so.rc/SO_FACT_WS/gestioneEccessiRequest" message="tns:gestioneEccessi"/>
<output wsam:Action="http://ws.so.rc/SO_FACT_WS/gestioneEccessiResponse" message="tns:gestioneEccessiResponse"/>
</operation>
<operation name="deleteEccesso">
<input wsam:Action="http://ws.so.rc/SO_FACT_WS/deleteEccessoRequest" message="tns:deleteEccesso"/>
<output wsam:Action="http://ws.so.rc/SO_FACT_WS/deleteEccessoResponse" message="tns:deleteEccessoResponse"/>
</operation>
<operation name="testService">
<input wsam:Action="http://ws.so.rc/SO_FACT_WS/testServiceRequest" message="tns:testService"/>
<output wsam:Action="http://ws.so.rc/SO_FACT_WS/testServiceResponse" message="tns:testServiceResponse"/>
</operation>
<operation name="getErroriWebServices">
<input wsam:Action="http://ws.so.rc/SO_FACT_WS/getErroriWebServicesRequest" message="tns:getErroriWebServices"/>
<output wsam:Action="http://ws.so.rc/SO_FACT_WS/getErroriWebServicesResponse" message="tns:getErroriWebServicesResponse"/>
</operation>
<operation name="inserisciPratica" parameterOrder="pratica arg1 arg2 arg3">
<input wsam:Action="http://ws.so.rc/SO_FACT_WS/inserisciPraticaRequest" message="tns:inserisciPratica"/>
<output wsam:Action="http://ws.so.rc/SO_FACT_WS/inserisciPraticaResponse" message="tns:inserisciPraticaResponse"/>
</operation>
<operation name="getEccessiDaPubblicare">
<input wsam:Action="http://ws.so.rc/SO_FACT_WS/getEccessiDaPubblicareRequest" message="tns:getEccessiDaPubblicare"/>
<output wsam:Action="http://ws.so.rc/SO_FACT_WS/getEccessiDaPubblicareResponse" message="tns:getEccessiDaPubblicareResponse"/>
</operation>
</portType>
<binding name="SO_FACT_WSPortBinding" type="tns:SO_FACT_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="inserisciAccettazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</output>
</operation>
<operation name="gestioneEccessi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</output>
</operation>
<operation name="deleteEccesso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</output>
</operation>
<operation name="testService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</output>
</operation>
<operation name="getErroriWebServices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</output>
</operation>
<operation name="inserisciPratica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</output>
</operation>
<operation name="getEccessiDaPubblicare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.so.rc/"/>
</output>
</operation>
</binding>
<service name="FactWS">
<port name="SO_FACT_WSPort" binding="tns:SO_FACT_WSPortBinding">
<soap:address location="http://10.72.107.70:8080/FACTWS/FactWS"/>
</port>
</service>
</definitions>